body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #eaecef;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* 화면 밖으로 요소가 넘어가는 것을 방지 */
}

.container {
    width: calc(100% - 40px); /* 전체 너비에서 양쪽 패딩 값을 빼줍니다 */
    max-width: 800px; /* 최대 너비 설정 */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden; /* 컨테이너 내 요소가 넘어가지 않도록 설정 */
    padding: 20px; /* 컨테이너 내부에 패딩 추가 */
}

/* 나머지 스타일은 동일하게 유지 */


header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    font-size: 1.5em;
}

h1 {
    margin: 0;
    padding-left: 32px;
}

main {
    padding: 30px;
}

textarea {
    width: 705px;
    height: 200px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    font-size: 1em;
    resize: none;
}

#checkButton {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#checkButton:hover {
    background-color: #4CAF50;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: left;
}

#resultArea {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.main_title{
    text-align: center;
}
+
